:root {
  --clr-grey: #617d98;
  --clr-white: #fff;
  --clr-brown: #ab7a5f;
  --max-width: 1170px;
  --spacing: 0.1rem;
}

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 0.875rem;
  color: var(--clr-grey);
  background: var(--clr-white);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.section{
  padding:5rem 0;
}

.section-center{
  width:90vw;
  margin:0 auto;
  max-width:var(--max-width);
}

.page-100{
  min-height:calc(100vh - 10rem);
  padding: 5rem 0;
}

.page{
min-height:calc(100vh-(20vh+10rem))
}